menu_items:
  - location: application
    label:
      en: AI Assistants
      zh: AI 助手
    url: "ai/?theme={system_theme}&lang={system_lang}"
    url_type: iframe
    capsule:
      visible: true
      top: 18
      right: 18